{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}
{% block tituloPagina %}
Register - App Coder
{% endblock %}
{% block b2 %}

<section class="bg-light py-5">
    <div class="container px-5">
       
        <ul class="posteos">

            {% for posteo in posteos %}

            <li> {{posteo.titulo}}</li>
            <li> {{posteo.cuerpo}}</li>
            <li>{{posteo.fecha}}</li>
            <li><img src="{{posteo.imagen}}" ></li>
            
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}
